alias phpunit="./vendor/bin/phpunit"
alias p="phpunit"
alias pf="phpunit --filter"
alias pdox="phpunit --testdox"
alias pw="phpunit-watcher watch"

alias psh="psysh"
alias cat="bat"

alias fresh="php artisan migrate:fresh"
alias refresh="php artisan migrate:refresh"
alias tinker="php artisan tinker"
alias a="php artisan"
alias serve="php artisan serve"
alias migrate="php artisan migrate"
alias mfs="php artisan migrate:fresh --seed"
alias dump="php artisan dump-server"
alias analyse="./vendor/bin/phpstan analyse"

alias nah="git reset --hard && git clean -df"
alias wip="git add . && git commit -m \"WIP\""
alias gcm="git checkout main"

